<ion-header [translucent]="true">
    <ion-toolbar color="base">
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)='CerrarSesion()'>
                <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="dark" #cart (click)="openCart()">
            <div class="cart-length">{{cartItemCount}}</div>
            <ion-icon name="cart" class="cart-icon"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid collapse="condense">
        <ion-row>
            <ion-col col-12 size="12">
                <ion-card *ngFor="let item of productos">
                    <ion-item>
                        <ion-label style="text-align: center;">{{item.nombre}}</ion-label>
                    </ion-item>
                    <ion-card-content>
                        {{item.descripcion}}
                    </ion-card-content>
                    <ion-item>
                        <ion-label color="base">
                            <b>{{ item.precio | currency:'MXN' }}</b>
                        </ion-label>
                        <ion-button color="dark" fill="outline" slot="end" (click)='AgregaProducto(item.id_producto)'>+</ion-button>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>